@mixin lactoSafeHeader-list{
    
    li{
        list-style-type: none;
        padding: 1rem 1rem;
        font-family: 'Poppin',sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        
    }
    
     #active{
      border-bottom: 3px solid $primary-color;
      font-weight: 700;
      color:$primary-color
    }
    
    
    a{ display: flex;
        text-decoration: none;
        color: black;
        position: relative;
        align-items: center;    
    }
    
    a:hover{   
        border-bottom: 3px solid $primary-color;
        font-weight: 700;
        transition: 0.3s;
    }
    
}