@mixin lactoSafeHeader-list{
    
    li{
        list-style-type: none;
        padding: 1rem 1rem;
        font-family: 'Poppin',sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.5px;
        
    }
    
     #active{
      border-bottom: 3px solid $primary-color;
      font-weight: 700;
      color:$primary-color
    }
    
    
    a{ display: flex;
        text-decoration: none;
        color: black;
        position: relative;
        align-items: center;    
    }
    
    a:hover{   
        border-bottom: 3px solid $primary-color;
        font-weight: 700;
        transition: 0.3s;
    }
    
}

@mixin signInBackGround {
     background-image: url('../asset/img/4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: 80vh;      
    width:100%
}
@mixin signInFormBackground{
    position: absolute;    
    top: 25%;
    left: 45%;
    right: 15%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.35);
    /* Black w/opacity/see-through */
    color: white;
    padding: 2rem 4rem;
    border-radius: 10px;
}